.navbar{
    height: 50px;
    display: flex;
    justify-content:center;
}
.LoginBtn{
    background-color: white !important;
    color: #2874f0 !important;
    width: 8% !important;
    border-radius: 0px !important;
    font-weight: bold !important;
    text-align: center !important;
}
.searchbar{
    width: 400px;
    border: 1px solid white;
    height: 30px;
    border-radius: 5px;
    background-color: white;
}
.loginBtn{
    color:#2874f0;
    background-color: white;
}
.loginBtn:hover{
    color:white;
    background-color: black;
}
.totalProducts{
    background-color: red !important;
    width: 24px !important;
    height: 24px !important;
    position: relative !important;
    left: 38px !important;
    bottom:12px !important;
}
.cartIcon{
    color: black !important;
    font-size: 30px !important;
}