.Images{
    width: 110% !important;
    height: 5em !important;
    border-radius: 100px !important;
}

.Images2{
    width: 60% !important;
    height: 5em !important;
    border-radius: 100px !important;
}
.Images5{
    width: 90% !important;
    height: 5em !important;
    border-radius: 100px !important;
}
.FlexBox{
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
}
.ImagesText{
    text-align: center !important;
}
.ImagesText:hover{
font-weight: bold !important;
cursor: pointer !important;
background-color: #fcd68a !important;
}
.buttons{
    background-color: #fcd68a !important;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.buttons:hover{
    background-color: #fcd68a !important;
    color: black !important;
}
.CategoryNav{
/* margin-top: 22px; */
background-color: white;
padding: 20px;
}
.link{
    color: black;
    text-decoration: none;
}
.link:hover{
    color: white;
    text-decoration: none;
}
.cardStyle{
width: fit-content !important;
background-color: white !important;
}